<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termini e Condizioni</title>

</head>

<body>
<div class="container">
    <div class="left">
        <button (click)="scrollToSection('terms')" data-section="terms">Termini e Condizioni</button>
        <button (click)="scrollToSection('about')" data-section="about">Chi Siamo</button>
        <button (click)="scrollToSection('contact')" data-section="contact">Segnala Un Problema</button>
    </div>
    <div class="right">
        <div id="terms" class="section" style="display: block;">
            <h2>Termini e Condizioni</h2>
            <p>Benvenuti sul nostro sito web. Utilizzando il nostro sito, accetti di rispettare e di essere vincolato dai seguenti termini e condizioni. Se non accetti questi termini, ti preghiamo di non utilizzare il sito.</p>
            <p>Il nostro sito web offre una piattaforma per la compravendita di immobili, fornendo servizi di pubblicazione di annunci immobiliari, ricerca di immobili, e contatto tra acquirenti e venditori.</p>
            <p>Per utilizzare i nostri servizi, è necessario registrarsi fornendo informazioni accurate e complete. Gli utenti devono aggiornare tempestivamente le informazioni di registrazione per mantenerle accurate e complete. Ci riserviamo il diritto di sospendere o terminare l'account di qualsiasi utente che fornisca informazioni false, incomplete o obsolete.</p>
            <p>Gli utenti sono responsabili di tutte le attività svolte con il proprio account. È vietato utilizzare il sito per scopi illegali, ingannevoli o fraudolenti. Gli utenti devono rispettare tutte le leggi applicabili durante l'uso del sito.</p>
            <p>Gli utenti possono pubblicare annunci immobiliari sul nostro sito. Gli annunci devono essere veritieri, accurati e non fuorvianti. Ci riserviamo il diritto di rimuovere qualsiasi annuncio che violi i nostri termini e condizioni o che sia considerato inappropriato a nostra discrezione.</p>
            <p>L'uso del sito può comportare il pagamento di commissioni per i servizi offerti. Le commissioni devono essere pagate in conformità con i termini di pagamento indicati sul sito. Ci riserviamo il diritto di modificare le commissioni e i termini di pagamento in qualsiasi momento.</p>
            <p>Tutti i contenuti del sito, inclusi testi, grafica, loghi, immagini, video e software, sono di nostra proprietà o concessi in licenza e sono protetti dalle leggi sul diritto d'autore e altre leggi sulla proprietà intellettuale. È vietato copiare, distribuire, modificare o creare opere derivate da qualsiasi contenuto del sito senza il nostro previo consenso scritto.</p>
            <p>Non siamo responsabili per eventuali danni diretti, indiretti, incidentali, speciali o consequenziali derivanti dall'uso del sito o dei nostri servizi. Non garantiamo che il sito sia privo di errori, virus o altri componenti dannosi.</p>
            <p>La tua privacy è importante per noi. La nostra Informativa sulla Privacy descrive come raccogliamo, utilizziamo e proteggiamo le tue informazioni personali. Utilizzando il sito, accetti la raccolta e l'uso delle tue informazioni in conformità con la nostra Informativa sulla Privacy.</p>
            <p>Ci riserviamo il diritto di modificare questi termini e condizioni in qualsiasi momento. Le modifiche saranno effettive al momento della pubblicazione sul sito. È tua responsabilità rivedere periodicamente i termini e condizioni per essere a conoscenza di eventuali modifiche.</p>
            <p>Eventuali controversie derivanti dall'uso del sito o dai nostri servizi saranno risolte mediante arbitrato, in conformità con le norme dell'arbitrato commerciale. La decisione dell'arbitro sarà definitiva e vincolante per entrambe le parti.</p>
        </div>
        <div id="about" class="section">
            <h2>Chi siamo?</h2>
            <p>Siamo un gruppo di studenti di informatica che si trova attualmente a lavorare su un progetto universitario. Il nostro obiettivo è sviluppare un sito web dedicato alla compravendita di immobili. Questo progetto fa parte del nostro percorso di studi e rappresenta un'opportunità per mettere in pratica le nostre competenze informatiche in un contesto reale. Il sito offrirà una piattaforma per la pubblicazione di annunci immobiliari, la ricerca di immobili e la facilitazione del contatto tra acquirenti e venditori. Siamo entusiasti di lavorare su questo progetto e ci impegniamo a fornire un'esperienza utente soddisfacente.</p>
        </div>
        <div id="contact" class="section">
            <h2>Segnala un Problema</h2>
             <h3>Per segnalare un problema contatta la mail indicata,ti risponderemo il prima possibile</h3>
            <p id="compracasa">• Compracasa&#64;mat.unical.it</p>
        </div>
        <div id="FAQ" class="section">
            <h2>FAQ</h2>
            <h3>•Ho dimenticato o voglio cambiare la mia password, come posso fare?</h3>
            <p>Se hai dimenticato  la tua password o preferiresti cambiarla fai riferimento alla email in "Segnala un Problema"</p>
            <p>Mandaci una mail con il tuo username e il motivo del cambio o ripristino password</p>
            <p>Ti contatteremo via telefono o email per verificare la tua identità e concretizzare il cambiamento</p>
            <p>P.S. E' necessario aver pubblicato almeno un annuncio per far si che possa avvenire il cambiamento o recupero di password</p>


        </div>
    </div>
</div>
<!-- <script src="assets/JS/TermsComponent.js"></script> -->
</body>
</html>
